<p style="color: green"><%= notice %></p>

<h1>Footballers</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :name_cont, "名前" %>
  <%= f.search_field :name_cont %>

  <%= f.label :age_eq, "年齢" %>
  <%= f.search_field :age_eq %>
  <%= f.submit %>

  <%= link_to "クリア", footballers_path %>
<% end %>

<div id="footballers">
  <% @footballers.each do |footballer| %>
    <%= render footballer %>
    <p>
      <%= link_to "Show this footballer", footballer %>
    </p>
  <% end %>
</div>
<%= paginate @footballers %>

<%= link_to "New footballer", new_footballer_path %>
