<div id="<%= dom_id @footballer %>">
  <p>
    <strong>名前:</strong>
    <%= @footballer.name %>
  </p>

  <p>
    <strong>年齢:</strong>
    <%= @footballer.age %>
  </p>

<div>
  <%= link_to "編集", edit_footballer_path(@footballer) %> |
  <%= link_to "戻る", footballers_path %>

  <%= button_to "削除", @footballer, method: :delete %>
</div>
